<form id="product-form">
  {{hm-images images=product.images}}

  <div class="row">
    <div class="col s12">
      {{hm-file-uploader store=store model=product objectId=product.id objectType='products'}}
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      {{input type="text" id="product-name" value=product.name}}
      <label class="active" for="product-name">Product Name</label>
    </div>

    <div class="input-field col s6">
      {{input type="text" id="product-model-number" value=product.modelNumber}}
      <label class="active" for="product-model-number">Model Number</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      {{input type="text" id="product-brief-description" value=product.briefDescription}}
      <label class="active" for="product-brief-description">Brief Description</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      {{textarea id="product-description" class="materialize-textarea" value=product.description}}
      <label class="active" for="product-description">Description</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      {{textarea id="product-manual" class="materialize-textarea" value=product.manual}}
      <label class="active" for="product-manual">Manual</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn" type="submit" id="save-button" {{action 'save'}}>
        Submit
      </button>
    </div>
  </div>
</form>
