<div class="row">
  <div class="col s6 product-name">
    <h5>{{product.name}}</h5>
    {{#if isAuthenticated}}
      {{#link-to 'product.edit' product.id id="edit-product-btn" class="btn-flat"}}Edit{{/link-to}}
    {{/if}}
  </div>
  <div class="col s6 right model-number">
    <h5>model {{product.modelNumber}}</h5>
  </div>
</div>

<div class="row clickable">
  {{#md-tabs
    selected=selectedTab}}
    {{md-tab value='description' title="Description"}}
    {{md-tab value='features' title="Features"}}
    {{md-tab value='manual' title="Manual" class="hide-on-small-and-down"}}
    {{md-tab value='whereToBuy' title="Buy" class="hide-on-small-and-down"}}
  {{/md-tabs}}
</div>

<div class="row">
  <div class="col s4 product-images">
    {{#each product.images as |image|}}
      <img class="responsive-img" src={{image.url}}>
    {{/each}}
  </div>

  <div id="product-details" class="col s8 show-newlines product-details">
    {{#if showDescription}}
      <div id="description">
        <p>{{{product.description}}}</p>
      </div>
    {{/if}}
    {{#if showFeatures}}
      <div id="specs">
        <p>{{{product.features}}}</p>
      </div>
    {{/if}}
    {{#if showManual}}
      <div id="manual">
        <p>{{{product.manual}}}</p>
      </div>
    {{/if}}
    {{#if showWhereToBuy}}
      <div id="manual">
        <p>$$$$$</p>
      </div>
    {{/if}}
  </div>
</div>
