<header>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      {{#link-to "home"}}
        <img src="assets/images/logo.png" />
      {{/link-to}}
    </li>
    {{#link-to "page.show" "about" tagName="li"}}
      {{link-to "about" 'about'}}
    {{/link-to}}
    {{#link-to "product" tagName="li"}}
      {{link-to 'Products' 'product'}}
    {{/link-to}}
    {{#link-to "systems" tagName="li"}}
      {{link-to 'Systems' 'systems'}}
    {{/link-to}}
    {{#link-to "news" tagName="li"}}
      {{link-to 'News' 'news'}}
    {{/link-to}}
    {{#link-to "media" tagName="li"}}
      {{link-to 'Media' 'media'}}
    {{/link-to}}
    {{#link-to "page.show" "firmware" tagName="li"}}
      {{link-to 'Firmware' 'firmware'}}
    {{/link-to}}
    {{#if session.isAuthenticated}}
    <li>
      <a href="#" {{action "invalidateSession"}}>
        Logout
      </a>
    </li>
    {{/if}}
  </ul>
</header>
<main>
  <div class="section">
    {{outlet}}
  </div>
</main>
{{md-modal-container}}
